.whiteFooter {
    background-color: #faf9f6;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.mainFooter {
    background-color: #FF9D9D;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
}