.inBody{
    border: double 4px black;
}

.specialColoured{
    background-color: #ff9d9d;
}

.pageEnterAnimation{
    animation: pageEnter 0.4s ease-out;
}

@keyframes pageEnter{
    from{
        opacity: 0;
        transform: translateY(10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
 
    }
}