.sidebar{
    background-color: #7c0d13;
    grid-area: sidebar;
    min-height: 500px;
    display: block;
    text-align: center;
    width: 300px;
}

.sidebarButton{
    display: block;
    text-decoration: none;
    color: white;
    font-size: larger;
    border: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.sidebarButton:hover, .selected{
    background: #AC3D43;
}