#main{
    margin: 10px;
    grid-area: main;
    min-height: 500px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content{
    display: grid;
    grid:
    'sidebar main';
}

#footer{
    padding: 10px;
    grid-area: 'footer';
    text-align: center;
    font-weight: bolder;
    background-color: #FF9D9D;
}

#in-body{
    border: double 5px black;
}