.loginWindow{
    background-color: #faf9f6;
    width: 70%;
    padding: 0px;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexContainer{
    display: flex;
    padding: 10% 50px;
}

.textInput{
    background-color: #ced9e2;
    border: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 10px;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.leftContent{
    margin: auto;
    margin-right: 10px;
    flex: 50%;
    text-align: center;
}

.rightContent{
    flex: 50%;
    margin-left: 10px;
}

.loginButton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fc8181;
    border: none;
    font-size: larger;
    padding: 10px 0px;
    margin: 10px;
    display: block;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
}

.quote{
    font-family: "Lucida Handwriting", "Brush Script MT";
    font-size: x-large;
}

.errorBanner{
    background-color: red;
    text-align: center;
    font-size: large;
    margin: 0px;
    padding: 10px;
}
