#in-body{
    background-color: #ff9d9d;
}

#main-header{
    width:auto;
    min-height: 40px;
    display: block;
    background-color: #faf9f6;
}

#footer{
    background-color: #faf9f6;
    display: block;
}

#login-window{
    background-color: #faf9f6;
    width: 80%;
    padding: 10% 100px;
    border-radius: 50px;
    display: flex;
}

input[type="email"],input[type="password"]{
    background-color: #ced9e2;
    border: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 10px;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#left-content{
    margin: auto;
    margin-right: 10px;
    flex: 50%;
    text-align: center;
}

#right-content{
    flex: 50%;
    margin-left: 10px;
}

#login-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fc8181;
    border: none;
    font-size: larger;
    padding: 10px 0px;
    margin: 10px;
    display: block;
    border-radius: 100px;
    width: 100%;
}

#quote{
    font-family: "Lucida Handwriting", "Brush Script MT";
    font-size: x-large;
}

#content{
    display: block;
}

#main{
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
