.mainCard{
    background-color: #faf9f6;
    width: 70%;
    padding: 0px;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: windowEnter 0.5s;
}

@keyframes windowEnter{
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.backButton{
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;

    background-color: #7c0d13;
    color: white;

    border: none;

    font-size: larger;

    padding: 10px 0px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    display: block;

    border-radius: 100px;

    width: 90%;

    cursor: pointer;
}

.rejoinButton{
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;

    background-color: #7c0d13;
    color: white;

    border: none;

    font-size: larger;

    padding: 10px 0px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    display: block;

    border-radius: 100px;

    width: 90%;
    transition: 0.35s;
    cursor: pointer;
}

.textInput{
    background-color: #ced9e2;
    border: none;
    width: 90%;
    display: block;
    padding: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    transition: 0.35s;
}

.textInput:focus{
    transform: scale(1.05);
}

.continueButton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #577b99;
    border: none;
    font-size: larger;
    padding: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 100px;
    width: 90%;
    cursor: pointer;
    transition: 0.35s;
}

.continueButton:hover, .rejoinButton:hover{
    transform: scale(1.05);
    background: black;
}

.errorBanner{
    top: 0px;
    width: 100%;
    background-color: red;
    padding: 10px 0px;
}